#short_term_receipt {
  display: none 
}

#downloadPicButton {
  display: none
}

#medium_term_receipt {
  display: none 
}

#long_term_receipt {
  display: none 
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('c9a5bc6a7c948fb0-s.p.woff2') format('woff2');
  font-weight: inherit;
  font-style: inherit;
}

body {
  font-family: 'MyCustomStack', sans-serif; 
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #333;
}

.receiptContainer {
  background-image: url(wrinkled-paper.jpg);
  background-position: center;
  width: 340px;
  filter: brightness(110%);
  padding: 20px;
  text-transform: uppercase;
}

.artistReceiptContainer {
  background-image: url(wrinkled-paper.jpg);
  background-position: center;
  width: 340px;
  filter: brightness(110%);
  padding: 20px;
  text-transform: uppercase;
}

.logo {
  font-family: 'MyCustomFont', sans-serif; 
  font-weight: 600;
  font-size: 2.3rem;
  text-align: center;
  color:#333;
}

.period {
  color: #333; 
}

table, .date {
  font-family: "receipt", "Courier New", Courier, monospace;
  color:black;
}

p {
  font-family: "receipt", "Courier New", Courier, monospace;
  color:#fff;
}

.thanks p {
  color:black;
}

td {
  padding: 0 5px;
}

.tracks {
  margin: 5px 0vh;
}

table {
  border: none;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.generatePicButton {
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 1vh 3vh;
  background-color: #0056ff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
  margin: 10px;
  width: auto;
}

/* .spotifyButton {
  margin: 2vh auto;
  text-align: center;
  text-decoration: none;
  padding: 2vh 5vh;
  background-color: #1db954;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
} */

.customize-receipt {
  font-size: 30px; 
  line-height: 1.5;
}

.customize-receipt h2 {
  font-size: 40px; 
  margin-bottom: 10px;
}

.customize-receipt h3 {
  font-size: 30px; 
  margin-bottom: 10px;
}

.customize-receipt select, .customize-receipt button {
  font-size: 16px; 
  padding: 8px;
  margin: 5px 0;
}

.customize-receipt label {
  font-size: 16px; 
}

.customize-receipt p {
  font-size: 21px; 
}

button {
  padding: 10px 20px;
  background-color: #007BFF;  
  color: white;
  border: 2px solid transparent; 
  border-radius: 8px; 
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  text-transform: uppercase; 
  font-weight: bold; 
}

button:hover, button:focus {
  background-color: #0056b3; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

button:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

button:focus {
  border-color: #ffcc00; 
}

.spotifyButton:hover, .spotifyButton:focus {
  background-color: #179c43; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.spotifyButton:active{
  transform: translateY(2px); 
  box-shadow: 0 2px 5 (0, 0, 0, 0.15); 
}

.custom-dropdown-wrapper {
  font-family: Arial, sans-serif; 
  padding: 5px;
  margin: 10px 0;
}

.custom-dropdown-wrapper label {
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.customize-receipt label[for="metric"] {
  font-family: 'MyCustomFont';
  font-weight: 600;
  color:#fff;
  font-size: 30;
}

.custom-dropdown {
  width: 100%; 
  padding: 8px 10px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #fff; 
  font-size: 16px; 
  color: #333; 
  cursor: pointer; 
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  position: relative; 
}

.custom-dropdown-wrapper::after {
  content: '▼';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
  color: #333;
}

.custom-dropdown:focus {
  border-color: #0056b3; 
  outline: none; 
}

div[style*="display: flex;"] { 
  justify-content: center; 
  align-items: flex-start;
  width: 100%; 
  gap: 20px; 
  margin-left: 80px;
  margin-top: 50px;
}

.customize-receipt {
padding: 20px;
max-width: 30%; 
}

@media (min-width: 768px) {
  div[style*="display: flex;"] {
      transform: translateX(20px);
  }
}

.receipt-credits, .credits {
  margin-top: 30px;
  position: relative;
  text-align: center;
  padding-top: 20px; 
  font-size: 16px;
}

.receipt-credits::before, .credits::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 50%; 
  width: 30%; 
  transform: translateX(-50%); 
  border-top: 1px solid #ccc; 
  height: 0;
}

.info {
  font-size: 16px;
}

.spotifyButton {
  display: flex;
  background-color: #00DA5A;
  color: #ffffff;
  margin: 5vh auto;
  padding: 0.7rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
}

.spotifyButton svg {
  height: 30px;
}

.spotifyButton:hover {
  box-shadow: none;
}