  #short_term_receipt {
    display: none 
  }

  #downloadPicButton {
    display: none
  }

  #medium_term_receipt {
    display: none 
  }

  #long_term_receipt {
    display: none 
  }

  @font-face {
    font-family: 'MyCustomFont';
    src: url('c9a5bc6a7c948fb0-s.p.woff2') format('woff2');
    font-weight: inherit;
    font-style: inherit;
}

  body {
    font-family: 'MyCustomFont', sans-serif; /* Add a fallback font */
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #333;
}

  .receiptContainer {
    background-image: url(wrinkled-paper.jpg);
    background-position: center;
    width: 340px;
    filter: brightness(110%);
    padding: 20px;
    text-transform: uppercase;
}

.artistReceiptContainer {
  background-image: url(wrinkled-paper.jpg);
  background-position: center;
  width: 340px;
  filter: brightness(110%);
  padding: 20px;
  text-transform: uppercase;
}

.logo {
  font-family: 'MyCustomFont', sans-serif; /* Add a fallback font */
  font-weight: 600;
  font-size: 2.3rem;
  text-align: center;
  color:#333;
}

.period {
  color: #333; /* Change 'red' to any color you prefer */
}

table, .date {
  font-family: "receipt", "Courier New", Courier, monospace;
  color:black;
  /* font-size: 2.1rem;
  line-height: 2rem; */
}

p {
  font-family: "receipt", "Courier New", Courier, monospace;
  color:#fff;
}

.thanks p {
  color:black;
}

td {
  padding: 0 5px;
}

.tracks {
  margin: 5px 0vh;
}

table {
  border: none;
}

table {
  max-width: 100%;
  background-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.generatePicButton {
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 1vh 3vh;
  background-color: #0056ff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
  margin: 10px;
  width: auto;
}

.spotifyButton {
  margin: 2vh auto;
  text-align: center;
  text-decoration: none;
  padding: 2vh 5vh;
  background-color: #1db954;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
}

.customize-receipt {
  font-size: 30px; /* Adjust as necessary */
  line-height: 1.5;
}

.customize-receipt h2, .customize-receipt h3 {
  font-size: 30px; /* Adjust as necessary */
  margin-bottom: 10px;
}

.customize-receipt select, .customize-receipt button {
  font-size: 16px; /* Adjust as necessary */
  padding: 8px;
  margin: 5px 0;
}

.customize-receipt label {
  font-size: 16px; /* Adjust as necessary */
}

.customize-receipt p {
  font-size: 18px; /* Adjust as necessary */
}