<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ Receiptify }}</title>
    </head>
    <body>
        <center>
            <h1>Receipt for Spotify</h1>
    
            <button class="spotifyButton" onclick="location.href = '/login';" >Spotify Login</button>

            <p class="info">
                This website was inspired by the Instagram account 
                <a href="https://www.instagram.com/albumreceipts/">@albumreceipts</a>
                !
            </p>

            <p class="credits">
                Made by Naheyan Sheikh
            </p>
        </center>

    </body>
</html>