<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }}</title>
</head>

<body>

    {% from "receiptContainer.html" import receiptContainer, artistReceiptContainer with context %}

    <script>
        var activeReceipt;

        function showContent(id) {
            // Hide all containers within tracks and artists sections
            $('.receiptContainerWrapper').each(function() {
                $(this).find('.receiptContainer').hide();
            });
        
            // Show only the specified container
            $('#' + id).show();
        
            // Update which receipt is active for download button
            activeReceipt = id;
        
            // Make sure the download button is visible
            $('#downloadPicButton').show();
        }

        function hiddenClone(element) {
            // Create clone of element
            var clone = element.cloneNode(true);

            // Position element relatively within the
            // body but still out of the viewport
            var style = clone.style;
            style.position = "relative";
            style.top = window.innerHeight + "px";
            style.left = 0;
            // Append clone to body and return the clone
            document.body.appendChild(clone);
            return clone;
        }

        $(document).ready(function () {
            // Global variable
            var element = $(".receiptContainerWrapper");

            // Global variable
            var getCanvas;

            $("#downloadPicButton").on('click', function () {
                var offScreen = document.querySelector(".receiptContainerWrapper");
                window.scrollTo(0, 0);
                var clone = hiddenClone(offScreen);
                // Use clone with htm2canvas and delete clone
                html2canvas(clone, { scrollY: -window.scrollY }).then((canvas) => {
                    var dataURL = canvas.toDataURL("image/png", 1.0);
                    document.body.removeChild(clone);
                    var link = document.createElement("a");
                    link.href = dataURL;
                    link.download = `${activeReceipt}.png`;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                });
            });

            // Update explanation text based on dropdown selection
            $('#metric').on('change', function () {
                updateExplanation();
            });

            // Initialize explanation
            updateExplanation();

           
        });

        function updateExplanation() {
            var metric = $('#metric').val();
            var explanation = '';
            if (metric === 'top_tracks') {
                explanation = "QTY - The ranking of a track in your most played. The higher up on the list, the more played it is.<br>AMT - The length of a song.";
                $('#tracksContainer').show();
                $('#artistsContainer').hide();
                $('#trackButtons').show();
                $('#artistButtons').hide();
                showContent('track_short_term_receipt');
            } else if (metric === 'top_artists') {
                explanation = "QTY - The ranking of an artist in your most played. The higher up on the list, the more played it is.<br>AMT - The popularity of an artist, from 0-100. 100 is the most popular, and 0 is the least popular.";
                $('#artistsContainer').show();
                $('#tracksContainer').hide();
                $('#artistButtons').show();
                $('#trackButtons').hide();
                showContent('artist_short_term_receipt');
            }
            $('#explanation').html(explanation);
        }
    </script>

    <div>
        <center>
            <h1>Receipt for Spotify</h1>
        </center>
    </div>

    <div style="display: flex;">
        <div>
            <!-- Container for Top Tracks -->
            <div class="receiptContainerWrapper" id="tracksContainer">
                <center>
                    {{ receiptContainer(user_display_name, track_short_term['items'], 'track_short_term_receipt', 'LAST MONTH') }}
                    {{ receiptContainer(user_display_name, track_medium_term['items'], 'track_medium_term_receipt', 'LAST 6 MONTHS') }}
                    {{ receiptContainer(user_display_name, track_long_term['items'], 'track_long_term_receipt', 'ALL TIME') }}
                </center>
            </div>
            <!-- Container for Top Artists -->
            <div class="receiptContainerWrapper" id="artistsContainer" style="display:none;">
                <center>
                    {{ artistReceiptContainer(user_display_name, artist_short_term['items'], 'artist_short_term_receipt', 'LAST MONTH') }}
                    {{ artistReceiptContainer(user_display_name, artist_medium_term['items'], 'artist_medium_term_receipt', 'LAST 6 MONTHS') }}
                    {{ artistReceiptContainer(user_display_name, artist_long_term['items'], 'artist_long_term_receipt', 'ALL TIME') }}
                </center>
            </div>
                <center>
                    <button class="generatePicButton" id="downloadPicButton">Download</button>
                </center>
            </div>
        <div class="customize-receipt">
            <h2>Customize Receipt</h2>
            <div class="custom-dropdown-wrapper">
                <label for="metric">Metric</label>
                <select id="metric" class="custom-dropdown">
                    <option value="top_tracks">Top Tracks</option>
                    <option value="top_artists">Top Artists</option>
                </select>
            </div>
            <div>
                <h3>Time Period</h3>
                <div id="trackButtons">
                    <button onclick="showContent('track_short_term_receipt')" class="generatePicButton">Last Month</button>
                    <button onclick="showContent('track_medium_term_receipt')" class="generatePicButton">Last 6 Months</button>
                    <button onclick="showContent('track_long_term_receipt')" class="generatePicButton">All Time</button>
                </div>
                <div id="artistButtons" style="display: none;">
                    <button onclick="showContent('artist_short_term_receipt')" class="generatePicButton">Last Month</button>
                    <button onclick="showContent('artist_medium_term_receipt')" class="generatePicButton">Last 6 Months</button>
                    <button onclick="showContent('artist_long_term_receipt')" class="generatePicButton">All Time</button>
                </div>                
            </div>
            <div>
                <h3>Receipt Explained</h3>
                <p id="explanation"></p>
            </div>
        </div>
    </div>
</body>

</html>
